.loginForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    width: fit-content;
    margin: 10% auto;
}

.loginForm > input {
    text-indent: 2%;
    margin: 0 0;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid black;
    @media (min-width: 600px) {
        height: 5vh;
        width: 20vw;
        margin: 1vh auto;
    }
}




#changeLogin {
    border: none;
    width: fit-content;
    height: fit-content;
    background: none;
    font-size: 16px;
    text-decoration: underline;
}

#navigateP {
    text-decoration: underline;
}
