form {
    display: flex;
    flex-direction: column;
}

input {
    text-indent: 2%;
    margin: 2% 0;
    height: 4vh;
    border-radius: 10px;
    border: none;
    @media (min-width: 600px) {
        height: 5vh;
        width: 20vw;
        margin: 1vh auto;
    }
}

div {
    margin: 0 auto;
    width: 90%;
    padding: 5% 0;
    @media (min-width: 600px) {
        width: 60vw;
    }
}

button {
    margin: 0 auto;
    height: 3vh;
    width: 80%;
    background: white;
    border: none;
    border-radius: 15px;
    @media (min-width: 600px){
        height: 5vh;
        width: 10vw;
    }
}

#changeLogin {
    border: none;
    width: fit-content;
    height: fit-content;
    background: none;
    font-size: 16px;
    text-decoration: underline;
}

#navigateP {
    text-decoration: underline;
}
