$darkColor: #062F4F;
$lightColor: #2969cf;
$offWhite: #edf3fc;

body {
    padding: 0 0;
    margin: 0 0;
}

.mainButton {
    background-color: $darkColor;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    height: 3vh;
    width: 80%;
    border: none;
    border-radius: 15px;
    @media (min-width: 600px){
        height: 5vh;
        width: 10vw;
    }
}

